h1 {
    border: 5px solid rgb(234, 160, 236);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-image: url("corazones.jpg");
    padding: 150px;
    color: rgb(241, 191, 239);
    text-align: center;
    font-size: 40px
   }
   P {
    border: 10px dotted rgb(231, 151, 221);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(242, 214, 255);
    padding: 150px;
    color: rgb(226, 128, 213);
    text-align: center;
    font-size: 40px;
    font-family: Arial;
   }
   h2 {
    border: 10px dashed rgb(245, 169, 241);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(255, 205, 255);
    padding: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(240, 73, 170);
   }